@import "~normalize.css/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  color: #f2f2f2;
  background-color: #0e121b;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

button {
  cursor: pointer;
}
